/* html selectors */
body {
    font-family: 'Indie Flower', cursive;
}

h3 {
    margin-bottom: 3px;
}

nav {
    background-color: darkgray;
}

nav li {
    border: 1px solid black;
    border-collapse: collapse;
    line-height: 2em;
    width: 100%;
}

nav li a {
    color: white;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}

nav ul {
    
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}


/* class selectors */
.active {
    background-color: lightgray;
}

.center {
    text-align: center;
}

