/* HTML selectors */
body {
    margin: 0;
}

footer {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
}

h1,
h2 {
    text-align: center;
}

footer {
    text-align: center;
}

nav {
    margin: 0 auto;
    max-width: 760px;
    background-color: #000;
}

table, th, td {
    border: 1px solid black;
}

/* class selectors */
.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #fff;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

.navigation a:hover {
    color: #000;
    background-color: #fff;
    font-weight: 700;
}

.responsive li {
	display: block;
}

/* id selectors */
#forecast {
    display: none;
}

#map {
    display: none;
}
