/* id selectors */
#heading {
    font-weight: 500;
}

/* universal selector */
* {
    font-weight: 800;
}

/* html selectors */
h1 {
    font-weight: 100;
}

h1 {
    font-weight: bold;
}


/* class selectors */
.bold {
    font-weight: 300;
}

<span class="bold">Some text</span>
<h1 id="heading" class="bold">Hello World!</h1>