caption {
    font-size: 1.4em;
    font-weight: 700;
}

caption, tfoot td {
    background-color: #7fb9c2;
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

input[type="text"] {
    border: 1px solid red;
}

table, caption, tr, th, td {
    border: 1px solid #e1e1e1;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

tfoot td {
    font-size: .7em;
}

tr {
    background-color: #e7f0ed;
}

tr:nth-child(even) {
    background-color: #e7ffed;
}

th, #november-sales-goal {
    background-color: #628ca6;
    color: #fff;
}


#rating {
    color: blue;
}