form div {
    display: flex;
    align-items: center;
}

form div label {
    order: 1;
    width: 10em;
    padding-right: 0.5em;
}

form div input[type="text"], input[type="email"] {
    order: 2;
    flex: 1 1 auto;
}

section {
    width: 50em;
}

