/* This main css file contains the default rules and is geared toward the small/phone view */

* {
    box-sizing: border-box;
}

/* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    /* Declare the base font-family - from google font api or other */
    font-family: "Open Sans", Verdana, sans-serif;
}

header,
nav,
main,
footer {
    /* the comma means apply the following CSS declarations to all of the listed elements */
    /* Declare the maximum width and other main element rules to limit the stretch on wide views */
}

header {}

header h1 {}

header img {}

header .subheading {}

nav {
    background-color: #ccc;
    font-family: Verdana, sans-serif;
}

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.hide {
    display: none;
}

nav ul li {}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
    border-top: 1px solid rgba(0,0,0,0.3);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.4);
}

main {}

main h2 {}

main figure {
    margin: 0 0 .2rem 2%;
    width: 96%;
}

main figure img {
    width: 100%;
}

section {}

article p.town-article img {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    width: ???;
    /* fill the page in the small/phone view */
    margin: ???;
}

footer {}

footer aside {}

footer > p {}

/* This structure refers to p elements that are direct children of the footer element */

/* Other Class Selectors */

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
