body {
    font-family: 'Ubuntu', sans-serif;
}

table,
tr,
th,
td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 5px;
}

td {
    text-align: center;
}

th {
    background-color: #628ca6;
    color: #fff;
}

th[colspan="3"] {
    background-color: #7fb9c2;
    color: #000;
}

tr {
    background-color: #e7f0ed;
}

tr:nth-child(even) {
    background-color: #e7ffed;

}