@media only screen and (min-width: 37.5em) {
    /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */

    
    /* hamburger button does not need to be shown */
    nav button {
        display: none;
    }
    
    /* show the 10-day forecast with the medium view and up */
    section.forecast {
        display: block;
    }
    
    /* responsive images */
    article p.town-article img {
        width: 62.666%;
        float: right;
    }
}
